*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.navBarContent { /*ARREGLAR EL MENÚ, DEBE PERMANECER QUITO SOBR ETODO EL CONTENIDO*/
    width: 100%;
    /*position: sticky;*/
    align-content: center;
    
    top:0;
    left: 0;
}
.navbar-brand{
    font-weight: 300; 
}
.navbar-brand strong{
    font-weight: 700;
    color: #dd2727;
}
.header{
    max-width: 80%;
}

.nav-item searchItem{
    position: block;
}

.searchInput {
    max-width: 80%;
    display: block;
    outline: 0;
    z-index: 9;
}
.menu ul li {
    position: relative;
}
.menu-selected ::before {
    content: '';
    width: 100%;
    height: 3px;
    background: #dd2727;
    position: absolute;
    top: 0;
    left: 0;
}
.menu ul li a{
    color: #777777;
}
.menu ul li a :hover{
    color: #dd2727;
    transition: color 200ms;
}

.menu .text-menu-selected {
    color: #dd2727;
}
/*Efecto Hover BOTON BUSCAR*/
.menu span{
    display: block;
    position: relative;
    overflow: hidden;
  }
  .menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-120%);

  }
  .menu a span {
    transition: transform 0.3s ease-out;
  }
  .menu a:hover span:first-child {
    transform: translateY(100%);
    color: transparent;
  }
  .menu a:hover span:last-child {
    transform: none;
  }
  .menu[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
  }

  /*Termina Efecto Hover BOTON BUSCAR*/


  /*PORTADA*/

  .bannerCover{
    width: 100%;
    height: 100%;
    position: relative;
    top:10px;
    background-image: url(/Assets/Banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

    /* INICIO BUSCADOR DE CONTENIDO*/
#box-search li a{
    text-decoration: none;
    display: block;
    width: 100%;
    color: #777777;
    padding: 12px 20px;
    align-items: center;
  }
  #box-search li a:hover{
    background-color: #ededed;
  }
  #box-search li a i{
    margin-right: 10px;
  }
  
  #box-search{
    position: relative;
    top: 10%;
    left:50%;
    transform: translate(-50%);
    width: 77%;
    z-index: 8;
    background-color: #ffffff;
    display: none;
  }
  
  #coverContentSearch{
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    background: #00000035;
    z-index: 7;
    display: none;
  }
    
    /* FIN BUSCADOR DE CONTENIDO*/

    /*PORTADA*/

  .bannerCover{
    width: 100%;
    height: 50%;
    position: relative;
    top:10px;
    background-image: url(/Assets/BannerUsuarios.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /*.bannerCover::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(129, 128, 128, 0.281);
    position: absolute;
    top: 0;
    left: 0;
  }*/
  .containerInfoCover{
    font-family: 'Poppins', sans-serif; 
    display: flex;
    max-width: 80%;
    height: 50%;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .containerInfoCover h1{
    font-weight: 700;
  }
  .containerInfoCover p{
    font-weight: 300;
  }
  /*PORTADA*/

  /*CONTENDOR CONTENIDO DEL ARTICULO*/

  .container-content{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  article{
    width: 200%;
    padding: 30px;
    padding-bottom: 40px;
    box-shadow: 0px 0 10px rgb(151, 149, 149);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  /*Barra roja sobre el articulo*/
  article::before{
    content: '';
    width: 100%;
    height: 6px;
    top: 0;
    left: 0;
    background: #dd2727;
    position: absolute;
  }
  /*fin Barra roja sobre el articulo*/

  article h1{
    margin-top: 20px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #dd2727;
    text-shadow: 10px #313131;
  }

  article p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #313131;
  }
  article h2{
    color: #dd2727;
    font-weight: 500;
    font-size: 25px;
  }
  article img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /*ARTICULOS RELACIONADOS - ASIDE*/
  .container-aside aside{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(151, 149, 149);
    padding-bottom: 10px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .container-aside aside img{
    width: 100%;
  }
  .container-aside aside h2{
    margin-top: 20px;
    padding: 0 20px;
    font-size: 20px;
  }
  .container-aside aside p{
    margin-top: 20px;
    padding: 0 20px;
    font-size: 12px;
  }

  .container-aside aside a{
    background-color: #dd2727;
    color: white;
    font-weight: 400;
    padding: 5px 25px;
    font-size: 10px;
    margin-left: 20px;
  }
  /*Boton ir hacia arriba*/

#button-up{
  width: 40px;
  height: 40px;
  background-color: #dd2727;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 15px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
}

#button-up :hover{
  transform: scale(1.3);
  border-color: rgba(0, 0, 0, 0.5);
  
}

/*FIN Boton ir hacia arriba*/

/*Footer*/
.container-footer {
  width: 100%;
  padding: 40px 0;
  background-color: #ededed;
  margin-top: 100px;
}

.container-footer footer {
  width: 80%;
  margin: auto;
}

.container-footer footer .logo-footer img {
  border-radius: 50%;
  width: 100px;
}

.container-footer footer .logo-footer {
  text-align: center;
}

.container-footer footer .redes-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  list-style: none;
}

.container-footer footer .redes-footer .icon-redes-footer {
  margin: 20px;
  font-size: 25px;
  align-items: center;
  background-color: #dbdbdb;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #a2a2a2;
  text-decoration: none;
  list-style: none;
  
}

footer .redes-footer .fa-globe:hover {
  background: #dd2727;
  color: #ffffff;
}

footer .redes-footer .fa-network-wired:hover {
  background: #dd2727;
  color: #ffffff;
}

footer .redes-footer .fa-envelope:hover {
  background: linear-gradient(to top right, rgba(2, 86, 98, 1), rgba(12, 137, 185, 1), rgba(0, 190, 244, 1), rgba(0, 212, 255, 1));
  color: #ffffff;
}

.container-footer footer hr {
  margin-top: 10px;
  border: none;
  height: 2px;
  background-color: #777777;
}

.container-footer footer h4 {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

/*FIN Footer*/